body{
    font-family: 'Roboto', sans-serif;
    background: #fafafa;

}

.navbar-brand{
    color: #fafafa;
    cursor: pointer;
    position: absolute;
    top: 25px;
    z-index: 1;
}
.pop-up{
    color: #2c3e50;
}
.navbar-brand:hover{
    color: #fafafa;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #fafafa;
    border-radius: 15px;
    color: black;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler-icon, .text-greensea{
    color: #16a085 !important;
}
.navbar-toggler{
    background:#fff !important;
}
.bg-greensea{
    background: #16a085;
}
.btn-primary{
    background: #16a085;
    border: none;
}
.navbar-collapse{
    justify-content: flex-end;
}

.btn-primary:hover, .btn-primary:active{
    background: #1abc9c;
}
.card-deck{
    flex-wrap: wrap;
}
.card-text{
    font-size: 18px !important;
    text-align: center;
}
.card{
    min-width: 14rem;
    min-height: 17rem;
    max-width: 18rem;
}
.border-greensea-site{
    padding: 10px;
    border: #16a085 1px solid;
}
.border-rednsea-site{
    padding: 10px;
    border: #c0392b 1px solid;
}
.text-rednsea{
    color: #c0392b;
}
.border-greensea{
    border: #16a085 1px solid;
}
.main{
    margin-bottom: 200px;
}
.header{
    height: 100vh;
    background-image: url('https://elit-web.ru/Media/files/filemanager/seo-prodvizenie.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.overlay{
    color: #fafafa;
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
